
<div class="scene4">
  <div class="dodecahedron">
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  <div class="pentagon"><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>

