
</head>
<body>
<!-- partial:index.partial.html -->
<div class="scene5">
  <div class="solidico">
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
  
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
  
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
  
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
    <div class="sideico"></div>
  </div>
</div>
<!-- partial -->

</body>

</html>
