{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cubes</title>
    <link rel="stylesheet" href="{% static 'css/cube.css' %}">
    <link rel="stylesheet" href="{% static 'css/thet.css' %}">
    <link rel="stylesheet" href="{% static 'css/oct.css' %}">
    <link rel="stylesheet" href="{% static 'css/dod.css' %}">
    <link rel="stylesheet" href="{% static 'css/ico.css' %}">
    <link rel="stylesheet" href="{% static 'css/icosub.css' %}">
</head>
<body>
    
    <div class="mainbody">
        {% include 'components/cube.html' %}
        {% include 'components/teth.html' %}
        {% include 'components/oct.html' %}
        {% include 'components/dod.html' %}
        {% include 'components/ico.html' %}
        {% include 'components/icosub.html' %}
        {% include 'components/dot.html' %}
        
    </div>


</body>

<script src="{% static 'js/cube.js' %}"></script>
<script src="{% static 'js/dot.js' %}"></script>
<script src="{% static 'js/teth.js' %}"></script>
<script src="{% static 'js/oct.js' %}"></script>
<script src="{% static 'js/dod.js' %}"></script>
<script src="{% static 'js/ico.js' %}"></script>
<script src="{% static 'js/icosub.js' %}"></script>

</html>